html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background: url("../img/subtle_dots.png");
  font: 1.1em Helvetica, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.8);
}

body > div,
h1, h2, h3, h4, h5,
p, a {
  -webkit-transition: all .07s;
  -moz-transition: all .07s;
  -o-transition: all .07s;
  transition: all .07s;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  color: #646464;
}

h1 {
  color: rgba(0, 0, 0, 0.75);
}

h2 {
  color: rgba(0, 0, 0, 0.7);
}

h3, h4, h5 {
  color: rgba(0, 0, 0, 0.65);
}

p {
  color: rgba(0, 0, 0, 0.95);
}

dt {
  font-size: larger;
  line-height: 1.5em;
  text-transform: uppercase;
  margin-top: 1.5em;
  color: rgba(0, 0, 0, 0.7);
}

a,
.post-button {
  color: rgba(0, 0, 0, 0.9);
}

a:hover,
.post-button:hover,
.contents:hover {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.contents {
  margin: 0;
}

a:visited {
  color: rgba(0, 0, 0, 0.9);
}

.sidebar a,
.post-button {
  text-decoration: none;
  text-transform: lowercase;
  line-height: 1.5em;
}

.active {
	padding: 0.05em 0.2em;
	background: rgba(0, 0, 0, 0.05);
	border: 2px dotted rgba(0, 0, 0, 0.5);
}

pre {
  margin-top: 30px;
  padding: 10px;
  background-color: #F5FBEF;
  white-space: pre-wrap;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

#header {
  width: 100%;
  margin: 0;
  display: inline-block;
}

#header h1,
#header h2 {
  margin: 10px 10px 10px 0;
  display: inline-block;
}

#header h1 {
  letter-spacing: .1em;
  margin-right: 1em;
}

#header h2 {
  letter-spacing: .055em;
  white-space: nowrap;
}

#post {
	display: none; /* shown with js */
}

.set-width {
  margin: auto;
  padding: 0;
  border: none;
  max-width: 640px;
  min-width: 280px;
  border-bottom: 2px dotted rgba(0, 0, 0, 0.5);
}

.sidebar {
  padding: 1.25em;
  border-bottom: 2px dotted rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}

.left {
  max-width: 550px;
  padding: 1.5em;
  margin: auto;
}

.signature {
  text-align: right;
  margin: 1em;
}

.centered-block {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  text-align: center;
}

.centered-block img,
.centered-block object {
  max-width: 100%;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.img-enlarged:after {
	content: "close";
	color: #000;
	background: #fff;
}

.clearfloat {
  visibility: hidden;
  clear: both;
}

#title-brackets {
  color: DarkOrange;
  vertical-align: -0.09em;
}

#everything {
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 960px) {

  #header {
    white-space: nowrap;
  }

  #header h1 {
    font-size: 350%;
    margin-top: 1em;
  }

  h2 {
    font-size: 200%;
  }

  .set-width {
    max-width: 960px;
  }

  .left {
    font-size: 1.15em;
    margin: 0;
    padding-top: 9em;
    float: left;
  }

  .right {
    width: 220px;
    float: right;
    margin-left: 1.5em;
    border-left: 2px dotted rgba(0, 0, 0, 0.5);
  }

  .sidebar {
    padding-left: 3em;
    border-bottom: none;
  }
}

@media screen and (min-width: 1200px) {

  #header h1 {
    font-size: 480%;
    margin-left: -50px;
  }

  .left {
    max-width: 600px;
  }

  .set-width {
    max-width: 1100px;
  }
}

@media screen and (min-width: 1400px) {

  #header h1 {
    font-size: 680%;
    margin-left: -100px;
    margin-bottom: 40px;
  }
}
